---
- name: Atualiza pacotes e instala pacotes essenciais em distribuições Debian e CentOS
  hosts: all
  become: true
  vars:
    common_packages_debian:
      - git
      - curl
      - zabbix-agent2
      - tar
      - gzip
      - htop
      - wget
      - tree
      - vim
      - nano
    common_packages_redhat:
      - git
      - curl
      - zabbix-agent2
      - tar
      - gzip
      - htop
      - wget
      - tree
      - vim
      - nano
    user_name: infra
    user_password: ""
    user_groups_debian: sudo
    user_groups_redhat: wheel
  tasks:
    - name: Validar senha do usuário
      ansible.builtin.assert:
        that:
          - user_password | length > 0
        fail_msg: "Defina a variavel user_password (idealmente via Vault ou Semaphore)."

    - name: Atualizar cache APT
      when: ansible_os_family == "Debian"
      ansible.builtin.apt:
        update_cache: true
        cache_valid_time: 3600

    - name: Atualizar cache YUM/DNF
      when: ansible_os_family == "RedHat"
      ansible.builtin.command: yum makecache
      changed_when: false

    - name: Atualizar pacotes Debian
      when: ansible_os_family == "Debian"
      ansible.builtin.apt:
        upgrade: dist

    - name: Atualizar pacotes RedHat
      when: ansible_os_family == "RedHat"
      ansible.builtin.yum:
        name: '*'
        state: latest
        exclude: kernel*

    - name: Instalar pacotes Debian
      when: ansible_os_family == "Debian"
      ansible.builtin.package:
        name: "{{ common_packages_debian }}"
        state: present

    - name: Instalar pacotes RedHat
      when: ansible_os_family == "RedHat"
      ansible.builtin.package:
        name: "{{ common_packages_redhat }}"
        state: present

    - name: Criar usuario padrao
      ansible.builtin.user:
        name: "{{ user_name }}"
        shell: /bin/bash
        groups: "{{ user_groups_debian if ansible_os_family == 'Debian' else user_groups_redhat }}"
        password: "{{ user_password | password_hash('sha512') }}"
      no_log: true
